{% extends 'base.html' %}
{% load static %}
{% block main %}
        
{% csrf_token %}
<div class="flex justify-center items-center mt-10">

    <div class="w-2/4 text-center bg-white rounded-3xl p-6">
        <h1 class="text-verde text-titulo-xl font-bold mt-8">{{ practica.titulo }}</h1>

        <div class="grid grid-cols-1 justify-items-center">
            <p class="text-xl my-2 w-11/12"><b>Descripción:</b> {{ practica.descripcion }}</p>

            <p class="text-xl my-2 w-11/12"><b>Fecha de Cierre:</b> {{ practica.fecha_inicio }}</p>

            <p class="text-xl my-2 w-11/12"><b>Fecha de Cierre:</b> {{ practica.fecha_fin }}</p>
        </div>

        <form method="post" class="grid grid-cols-1 justify-center m-4">  
        <a class="flex justify-center" href="{% url 'practicas:list' grupo_id=grupo_id %}">
            <div class="text-center bg-verde py-2 p-8 text-white rounded-full cursor-pointer hover:bg-green-300">Regresar</div>
        </a>
        </form>


    </div>

</div>

{% endblock %}