{% extends 'base.html' %}
{% load static %}

{% block main %}
    <h1 class="text-gray-700 font-bold text-titulo-min-xl 
        sm:mt-10 sm:text-titulo-xl text-center">
        Editar {{ practica.titulo }}
    </h1>

    <form class="bg-white mx-7 mt-2 rounded-lg p-6 sm:w-1/2 sm:mx-auto"
    method="post">
        {% csrf_token %}

        {% if mensaje %}
        <p>{{ error_message }}</p>
        {% endif %}

        
        <lable for="titulo">Titulo de Práctica:</lable>
        <input 
            class="flex left-0 border border-gray-300 w-full px-3 py-2 rounded-md bg-gray-100"
            name="titulo"
            type="text"
            id="titulo"
            value="{{ practica.titulo }}"/>
        
        
        <br><lable for="fecha_inicio">Fecha de Inicio:</lable>
        <input 
            class="flex left-0 border border-gray-300 w-full px-3 py-2 rounded-md bg-gray-100"
            type="datetime-local"
            name="fecha_inicio"
            id="fecha_inicio"
            value="{{ practica.fecha_inicio }}"/>
        

        <br><lable for="fecha_fin">Fecha de Fin:</lable>
        <input 
            class="flex left-0 border border-gray-300 w-full px-3 py-2 rounded-md bg-gray-100"
            type="datetime-local"
            name="fecha_fin"
            id="fecha_fin"
            value="{{ practica.fecha_fin }}"/>    


        <br><lable for="descripcion">Descripción:</lable>
        <textarea 
            class="flex left-0 border border-gray-300 w-full h-24 px-3 py-2 rounded-md bg-gray-100"
            name="descripcion"
            type="text"
            id="descripcion">
            {{ practica.descripcion }}
        </textarea>

        <!--
        <div class="flex">
            <lable>Activar Práctica</lable>
            <select
                class="tu-clase-css"
                name="is_valid">
                <option 
                    {% if practica.is_valid %} selected {% endif %}
                    value="True">Activa Práctica</option>
                <option 
                    {% if not practica.is_valid %} selected {% endif %}
                    value="False">Desactiva Práctica</option>
            </select>
        </div>
        -->        

        <div class="flex gap-3 justify-center m-4">  
            <a href="{% url 'practicas:detail' grupo_id=grupo_id practica_id=practica_id %}">
                <div class="text-center bg-verde py-2 p-8 text-white rounded-full cursor-pointer hover:bg-green-300">Regresar</div>
            </a>

            <button class="w-32 text-center bg-[#1ab26b] py-2 p-8 text-white rounded-full cursor-pointer hover:bg-green-300"
                type="submit">
                <div>Guardar</div>
            </button>
        </div>

    </form>


{% endblock %}