<!DOCTYPE html>
<html>
  <head>
    <title>Crear Prácticas</title>
  </head>
  <body>
    <h1>Crear Prácticas</h1>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <label for="id_titulo">Título:</label>
      {{ form.titulo }}

      <label for="id_descripcion">Descripción:</label>
      {{ form.descripcion }}

      <label for="id_fecha_inicio">Fecha de Inicio:</label>
      {{ form.fecha_inicio }}

      <label for="id_fecha_fin">Fecha de Fin:</label>
      {{ form.fecha_fin }}

      <label for="id_is_valid">Válido:</label>
      {{ form.is_valid }}

      <label for="id_archivo">Archivo:</label>
      {{ form.archivo }}

      <label for="id_grupo_id">Grupo:</label>
      {{ form.grupo_id }}

      <label for="id_maestro_id">Maestro:</label>
      {{ form.maestro_id }}

      <input type="submit" value="Guardar" />
    </form>
  </body>
</html>
