<!DOCTYPE html>
<html>
  <head>
    <title>Crear Prácticas</title>
  </head>
  <body>
    <h1>Crear Prácticas</h1>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <label for="id_titulo">Título:</label>
      {{ form.titulo }}
      <p>
        <label for="id_descripcion">Descripción:</label>
        {{ form.descripcion }}
      </p>

      <p>
        <label for="id_fecha_inicio">Fecha de Inicio:</label>
        {{ form.fecha_inicio }}
      </p>

      <p>
        <label for="id_fecha_fin">Fecha de Fin:</label>
        {{ form.fecha_fin }}
      </p>

      <p>
        <label for="id_is_valid">Válido:</label>
        {{ form.is_valid }}
      </p>

      <p>
        <label for="id_archivo">Archivo:</label>
        {{ form.archivo }}
      </p>

      <p>
        <label for="id_grupo_id">Grupo:</label>
        {{ form.grupo_id }}
      </p>

      <p>
        <label for="id_maestro_id">Maestro:</label>
        {{ form.maestro_id }}
      </p>

      <p>
        <input type="submit" value="Guardar" />
      </p>
    </form>
  </body>
</html>
