{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'styles/output.css' %}" rel="stylesheet">
    <link href="{% static 'styles/styles.css' %}" rel="stylesheet">
    <link href="{% static 'img/Logo.png' %}" rel="shortcut icon">
    <title>Alta de brigadas</title>
</head>

<body class="h-screen fondoinicio">
    <nav
        class="flex-no-wrap relative flex w-full items-center justify-between bg-[#1ab26b] py-4 shadow-md lg:flex-wrap lg:justify-start lg:py-4"
      >
        <div class="flex w-full flex-wrap items-center justify-between px-3">
          <!-- Logo -->
          <a
            class="mb-4 ml-2 mr-5 flex items-center font-bold text-white sm:text-titulo-xl lg:mb-0 lg:mt-0"
            href="index.html"
          >
            <img src="img/Huella.png" class="h-12 w-13"" /> labs
          </a>

          <!-- Right elements -->
          <div class="relative flex items-center">
            <!-- Dropdown container -->
            <div
              class="relative"
              data-te-dropdown-ref
              data-te-dropdown-alignment="end">

              <a
                class="hidden-arrow flex items-center whitespace-nowrap transition duration-150 ease-in-out motion-reduce:transition-none"
                href="#"
                id="dropdownMenuButton2"
                role="button"
                data-te-dropdown-toggle-ref
                aria-expanded="false"
              >
                <img src="img/campana.png" class="w-6 h-6 mr-2" />
                <!-- User avatar -->
                <img
                  src="https://tecdn.b-cdn.net/img/new/avatars/2.jpg"
                  class="rounded-full w-14 h-14"
                  alt=""
                  loading="lazy"
                />
              </a>
            </div>
          </div>
        </div>
      </nav>

    <div class="h-5/6 flex justify-center items-center">
        <div class="h-5/6 w-2/3 text-center bg-white rounded-3xl px-10">

            <h1 class=" text-titulo-xl font-bold mt-12">Alta de brigadas</h1>
            <form method="post" enctype="multipart/form-data" class="grid grid-cols-3 w-full">
                {% csrf_token %}
                <p class="w-5/6 bg-verde text-white rounded-lg py-2">Brigada 401</p>
                <input 
                  type="file" 
                  name="csv_file" 
                  required="" 
                  id="id_csv_file">
                <button class="w-5/6 bg-verde text-white rounded-lg hover:bg-green-900">Añadir Brigada</button>
            </form>

            <div>
                <table class="container">
                    <caption class="caption-top bg-gris font-bold mt-8 px-4 py-2">
                        Lista de alumnos
                    </caption>
                    <tr class="bg-gris hover:bg-green-200">
                        <th class="border-t border-t-white px-4 py-2">No. de Lista</th>
                        <th class="border-t border-t-white px-4 py-2">Nombre del Alumno</th>
                        <th class="border-t border-t-white px-4 py-2">Matricula</th>
                        <th class="border-t border-t-white px-4 py-2">Correo Universitario</th>
                        <th class="border-t border-t-white px-4 py-2">Brigada</th>
                    </tr>
                    <tr class="bg-gris hover:bg-green-200">
                        <td class="border-t border-t-white px-4 py-2">1</td>
                        <td class="border-t border-t-white px-4 py-2">Alan Tadeo Montes Ovalle</td>
                        <td class="border-t border-t-white px-4 py-2">1952618</td>
                        <td class="border-t border-t-white px-4 py-2">tadeo.montesov@uanl.com.mx</td>
                        <td class="border-t border-t-white px-4 py-2">401</td>
                    </tr>
                    <tr class="bg-gris hover:bg-green-200">
                        <td class="border-t border-t-white px-4 py-2">2</td>
                        <td class="border-t border-t-white px-4 py-2">Alan Ramiro Gonzalez Reyes</td>
                        <td class="border-t border-t-white px-4 py-2">1736076</td>
                        <td class="border-t border-t-white px-4 py-2">alan.gonzalez@uanl.com.mx</td>
                        <td class="border-t border-t-white px-4 py-2">401</td>
                    </tr>
                    <tr class="bg-gris hover:bg-green-200">
                        <td class="border-t border-t-white px-4 py-2">3</td>
                        <td class="border-t border-t-white px-4 py-2">Juan Carlos Tapia Martinez</td>
                        <td class="border-t border-t-white px-4 py-2">1896724</td>
                        <td class="border-t border-t-white px-4 py-2">juan.tapia@uanl.com.mx</td>
                        <td class="border-t border-t-white px-4 py-2">401</td>
                    </tr>
                    <tr class="bg-gris hover:bg-green-200">
                        <td class="border-t border-t-white px-4 py-2">4</td>
                        <td class="border-t border-t-white px-4 py-2">Luis Gerardo Puente Garcia</td>
                        <td class="border-t border-t-white px-4 py-2">1814176</td>
                        <td class="border-t border-t-white px-4 py-2">luis.gerardo@uanl.com.mx</td>
                        <td class="border-t border-t-white px-4 py-2">401</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<!--Pie de pagina CAMBIO-->
<footer class="center py-0">
  <img src="img/VLFIME.png" class="w-25 h-14 absolute bottom-2 right-2" />
</footer>

</body>

</html>