{% extends 'base.html' %}

{% block main %}
    <div class="h-5/6 flex justify-center items-center">
        <div class="w-5/6 text-center bg-white rounded-3xl px-10 ">
            <h1 class=" text-titulo-xl font-bold mt-1">Brigada {{ grupo.numero_brigada }} {% if not grupo.is_active %} - Desactivado{% endif %}</h1>
            <form class="grid grid-cols-3 w-full gap-4 gap-y-2 justify-items-center"
                method="post" 
                enctype="multipart/form-data">
                {% csrf_token %}

                <a class="order-1 w-5/6 bg-verde text-white rounded-lg py-2 hover:bg-green-900"
                    href="{% url 'grupos:list' %}">            
                    <div>Regresar</div>
                </a>

                <a class="order-4 w-full" 
                    href="{% url 'practicas:list' grupo_id=grupo.id%}">
                    <button 
                        {% if not grupo.is_active %}
                        class="w-5/6 text-white rounded-lg py-2 bg-green-900"
                        disabled
                        {% else %}
                        class="w-5/6 bg-[#1ab26b] text-white rounded-lg py-2 hover:bg-green-900"
                        {% endif %}
                        type="button">
                        <p>Práctica</p>
                    </button>
                </a>

                <div class="order-2 w-full">
                    {% if grupo.is_active %}
                    <input 
                        type="file" 
                        name="csv_file" 
                        required="" 
                        id="id_csv_file">
                    {% endif %}
                </div>

                {% if grupo.is_active %}
                <a class="order-5 col-start-3 w-full"
                    href="{% url 'grupos:deactivate' grupo_id=grupo.id %}">
                    <button class=" w-5/6 bg-[#1ab26b] text-white rounded-lg py-2 hover:bg-green-900"
                        type="button">
                        <p>Desactivar Grupo</p>
                    </button>
                </a>
                {% else %}
                <a class="order-5 col-start-3 w-full"
                    href="{% url 'grupos:activate' grupo_id=grupo.id %}">
                    <button class=" w-5/6 bg-[#1ab26b] text-white rounded-lg py-2 hover:bg-green-900"
                        type="button">
                        <p>Activar Grupo</p>
                    </button>
                </a>
                {% endif %}

                <button
                    {% if not grupo.is_active %}
                    class="order-3 w-5/6 text-white rounded-lg py-2 bg-green-900"
                    disabled
                    {% else %}
                    class="order-3 w-5/6 bg-[#1ab26b] text-white rounded-lg py-2 hover:bg-green-900"
                    {% endif %}>
                    <div>Añadir Brigada</div>
                </button>

            </form>

            <div class="overflow-auto h-80 mt-8">
                <table class="container">
                    <caption class="caption-top bg-gris font-bold px-4 py-2">
                        Estudiantes
                    </caption>
                    <tr class="bg-gris hover:bg-green-200">
                        <!--<th class="border-t border-t-white px-4 py-2">No. de Lista</th>-->
                        <th class="border-t border-t-white px-4 py-2">Nombre del Alumno</th>
                        <th class="border-t border-t-white px-4 py-2">Matrícula</th>
                        <th class="border-t border-t-white px-4 py-2">Correo Universitario</th>
                        <th class="border-t border-t-white px-4 py-2">Brigada</th>
                    </tr>
                    {% for alumno in lista_alumnos %}
                    <tr class="bg-gris hover:bg-green-200">
                        <!--<td class="border-t border-t-white px-4 py-2">{{ alumno.id }}</td>-->
                        <td class="border-t border-t-white px-4 py-2">{{ alumno.nombre }}</td>
                        <td class="border-t border-t-white px-4 py-2">{{ alumno.matricula }}</td>
                        <td class="border-t border-t-white px-4 py-2">{{ alumno.correo }}</td>
                        <td class="border-t border-t-white px-4 py-2"> {{ grupo.numero_brigada }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div><br>
        </div>
    </div>
{% endblock %}