{% extends 'base.html' %} {% block main %}
<div class="flex flex-col justify-center items-center mt-14 p-4">
  <div
    class="bg-white text-black rounded-full p-4 w-5/6 max-w-screen-3xl text-center mb-8"
  >
    <h1 class="text-2xl font-bold text-green-500">REPORTE DE GRUPOS</h1>
  </div>

  <div class="space-y-8 w-3/4 max-w-screen-lg">
    {% for grupo in lista_grupos %}
    <div
      class="flex items-center justify-between p-4 bg-white rounded-full cursor-pointer"
      onclick="toggleSection('{{ grupo.id }}')"
    >
      <h2 class="text-lg font-bold text-center w-full">
        <a href="{% url 'grupos:detail' grupo_id=grupo.id %}">
          BRIGADA {{ grupo.numero_brigada }}
        </a>
      </h2>
      <span class="text-3xl text-green-500">▼</span>
    </div>

    <div id="{{ grupo.id }}" class="hidden space-y-4">
      <div class="bg-white rounded-full p-4">
        
        <table class="flex flex-col items-center">
          <tr class="caption-top bg-gris font-bold mt-8 px-4 py-2">
              <th class="text-center border-t rounded-full border-t-white px-4 py-2">Acciones</th>
          </tr>
          <tr class="bg-gris hover:bg-green-200">
              <td class="text-center border-t rounded-full border-t-white px-4 py-2">
                  <button>
                      <a href="{% url 'grupos:detail' grupo_id=grupo.id %}">Lista de estudiantes</a>
                  </button>
              </td>
          </tr>          
          <!--<tr class="bg-gris hover:bg-green-200">
              <td class="text-center border-t rounded-full border-t-white px-4 py-2">   
                  <button>
                      <a>Practicas</a>
                  </button>
              </td>
          </tr>-->
        </table>
      </div>      
      
    </div>
    <a class="flex justify-center" href="{% url 'home' %}">
      <div class="text-center bg-verde py-2 p-8 text-white rounded-full cursor-pointer hover:bg-green-300">Regresar</div>
    </a>
  </div>
  {% endfor %}
  <script>
    function toggleSection(sectionId) {
      const section = document.getElementById(sectionId);
      section.style.display =
        section.style.display === "none" ? "block" : "none";
    }
  </script>
  
  {% endblock %}
</div>
