body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/FOTO_FIME.png');
    background-size: cover;
} 

.container {
    text-align: center;
}

.rounded-square {
    width: 700px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #1ab26b;
    margin: 0px;
}

.password-boxes {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-box {
    width: 480px;
    height: 45px;
    background-color: #d9d9d9;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.password-box input[type="password"] {
    width: 80%;
    height: 100%;
    border: none;
    background: none;
    font-size: 16px;
    outline: none;
}

.save-button {
    width: 280px;
    height: 35px;
    background-color: #1ab26b;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 18px;
}

.cancel-button-2 {
    width: 280px;
    height: 35px;
    background-color: #1ab26b;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
}