{% extends 'base.html' %} 

{% load static %} 

{% block main %}
<div>
    <div class="flex items-center mx-2 my-10">
        <button class="bg-gray-200 text-verde py-4 px-20 rounded-lg ml-10">
            <img
                src="{% static 'img/Herramienta.png' %}"
                class="w-8 h-8 absolute left-12 top-55"
            />
            Ir a la prática - {{ practica_activa.titulo }}
        </button>

        <!--Informacipon de la Brigada-->
        <div class="ml-60">
            <p><strong>Brigada:</strong>{{ grupo_data.numero_brigada }}</p>
            <p><strong>Instructor:</strong>{{ grupo_data.nombre_maestro }}</p>
        </div>
    </div>

    <div class="flex my-12">

        <div class="grid grid-cols-3 gap-3 w-9/12 p-4 ml-8">

            {% if  list_practicas|length > 0 %}

                {% for practica in list_practicas %}

                    {% if practica.is_valid %}

                        {% if practica.id == practica_activa.id %}

                        <div class="flex flex-col justify-center bg-black rounded-lg p-4 mb-8 shadow-md">
                            <p class="text-white my-3 text-xl"><strong>{{ practica.titulo }}</strong></p>
                            <div class="w-11/12">
                                <p class="text-white">Empieza: {{practica.fecha_inicio}}</p>
                                <p class="text-white">Termina: {{practica.fecha_fin}}</p>
                                <p></p>
                                <button></button>
                            </div>
                            <p class="text-white text-center"><strong>Activa</strong></p>
                        </div>

                        {% else %}

                        <div class="flex flex-col justify-center bg-gray-300 rounded-lg p-4 mb-8 shadow-md">
                            <p class="text-black my-3 text-xl"><strong>{{ practica.titulo }}</strong></p>
                            <div class="w-11/12">
                                <p class="text-black">Empieza: {{practica.fecha_inicio}}</p>
                                <p class="text-black">Termina: {{practica.fecha_fin}}</p>
                                <p></p>
                                <button></button>
                            </div>
                            <p class="text-black text-center"><strong>Inactiva</strong></p>
                        </div>

                        {% endif %}

                    {% else %}

                    <div class="bg-gray-300 rounded-lg p-4 mb-8 shadow-md">
                        <p class="text-black my-3 text-xl"><strong>{{ practica.titulo }}</strong></p>
                        <div class="w-11/12">
                            <p class="text-black">Empieza: {{practica.fecha_inicio}}</p>
                            <p class="text-black">Termina: {{practica.fecha_fin}}</p>
                            <p></p>
                            <button></button>
                        </div>
                        <p class="text-black text-center"><strong>Invalida</strong></p>
                    </div>

                    {% endif %}
                {% endfor %}

            {% else %}
                <p class="text-black text-center"><strong>No hay Practicas Activadas</strong></p>
            {% endif %}

        </div>

        <!-- Línea divisora -->
        <div class="w-px bg-gray-300 my-4 mx-6"></div>

        <!-- Calendario -->
        <div class="w-1/2 p-4">
            <div class="bg-white rounded-lg p-4 mb-4 shadow-md">
                <!-- JS para mostrar el calendario -->
                <h3 class="text-lg font-semibold">Calendario</h3>
            </div>

            <!-- Botón Reservar -->
            <div class="p-5 flex items-center">
                <img
                src="{% static 'img/Calendario.png' %}"
                class="mr-5"
                width="10"
                height="10"
                />
                <button class="bg-verde text-white py-2 px-20 rounded-lg">
                    <a href="{% url 'sessiones:reservaciones' %}">reservaciones</a>
                </button>
            </div>
        </div>

    </div>
</div>
{% endblock %}