{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'styles/output.css' %}" rel="stylesheet">
  <link href="{% static 'styles/styles.css' %}" rel="stylesheet">
  <link href="{% static 'img/Logo.png' %}" rel="shortcut icon">
  <title>Iniciar Sesión</title>
</head>
<body class="h-screen w-screen fondologin">

  <section class="grid grid-cols-2 h-full
                  sm:grid-cols-3
                  ">
    <article class="text-center w-screen mt-2 h-10
                    sm:w-full">
      <h2 class="font-bold text-titulo-min-xl text-white
                  sm:text-titulo-xl  sm:mt-56">Bienvenido a</h2>
      <h1 class="font-bold text-titulo-min-2xl text-white 
                sm:text-titulo-2xl sm:mt-12">LABS</h1>
    </article>
    <article class="bg-gradient-to-r from-green-50 to-green-50 col-span-2 h-full text-center">

      <h1 class="text-verde font-bold  text-titulo-min-xl
                sm:mt-32 sm:text-titulo-xl">Iniciar Sesión</h1>

      
        {% if mensaje %}
        <p>{{ mensaje }}</p>
        {% endif %}

        <form action="" method="post" class="bg-white mx-7 mt-2 rounded-lg p-6 shadow-2xl shadow-gray-600 sm:w-96 sm:mx-auto">
            {% csrf_token %} 
            
            <!--
            <select class="flex left-0 border border-gray-300 w-full px-3 py-2 rounded-md bg-gray-100" name="" id="">
            <option value="0">Seleccionar...</option>
            <option value="1">Docente</option>
            <option value="2">Alumno</option>
            </select>
            -->
            <br>
            <input name="matricula" id="matricula" class="border border-gray-300 w-full px-3 py-2 mb-4 rounded-md bg-gray-100" type="text" placeholder="Matricula">
            <br>
            <div class="relative">
            <input name="password" id="password" class="border border-gray-300 w-full px-3 py-2 mb-0 rounded-md bg-gray-100" type="password" placeholder="Contraseña">
            <!--<a href="#"><p class="text-gray-400 underline mt-2
                                    sm:absolute sm:left-0 ">¿Olvidasta tu contraseña?</p></a>-->
            </div>
            <input class="bg-verde w-full py-2 text-white rounded-full cursor-pointer hover:bg-green-300 mt-4
                        sm:mt-14" type="submit" value="Entrar">
            <br>
            <a href="{% url 'Registro' %}"><p class="font-bold underline mt-4">Registrate Aqui</p></a>
        
        </form>
    </article>
    
  </section>
  

</body>
</html>