{% extends 'base.html' %}
{% load static %}
{% block main %}
        

  <div class="flex justify-center items-center mt-10">
    <div class="w-2/4 text-center bg-white rounded-3xl pb-12">
      <h1 class="text-verde text-titulo-xl font-bold mt-8">Perfil Administrador</h1>
      <div class="grid justify-items-center mt-8">
        <img src="{% static 'img/Logo.png' %}" alt="" class="w-32 h-32 rounded-full">
      </div>
      <!--<p class="text-xl mt-4"><b>Alumno</b></p>
      <p class="text-xl mt-4"><b>Matricula:</b> 1736076</p>
      <p class="text-xl mt-4"><b>Carrera:</b> IAS</p>
      <p class="text-xl mt-4"><b>Correo:</b> alangzz@uanl.com.mx</p>
      <p class="text-xl mt-4"><b>Tipo de cuenta:</b> Alumno</p>-->
    </div>    
  </div>
  <form method="post" class="grid grid-cols-2 justify-center items-center">
    {% csrf_token %}
    <a class="flex justify-center" href="{% url 'home' %}">
      <div class="text-center bg-verde py-2 p-8 text-white rounded-full cursor-pointer hover:bg-green-300 mt-6">Regresar</div>
    </a>

    <a class="flex justify-center" href="{% url 'logout' %}">
      <div class="text-center bg-verde py-2 p-8 text-white rounded-full cursor-pointer hover:bg-green-300 mt-6">Cerrar Sesión</div>
    </a>

  </form>

  <!--Pie de pagina CAMBIO-->
  <footer class="center py-0">
    <img src="{% static 'img/VLFIME.png' %}" class="w-25 h-14 absolute bottom-2 right-2" />
  </footer>
  {% endblock %}

  <!--
</body>

</html>
-->