{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'styles/output.css' %}" rel="stylesheet">
    <link href="{% static 'styles/styles.css' %}" rel="stylesheet">
    <link href="{% static 'img/Logo.png' %}" rel="shortcut icon">
    <title>Registrar a Maestros</title>
</head>
<body class="h-screen fondologin">
    <section class="grid grid-cols-2 h-full
                    sm:grid-cols-3">
        <article class="text-center w-screen mt-2
                        sm:w-full">
          <br>
          <h1 class="font-bold text-titulo-min-1xl text-white 
                    sm:text-titulo-xl  sm:mt-56">Alta de Maestros</h1>                    
        </article>
        <article class="bg-gradient-to-r from-green-50 to-green-50 col-span-2 h-full text-center fondologinright">
    
          <h1 class="text-verde font-bold  text-titulo-min-xl
                    sm:mt-12 sm:text-titulo-l">Registrar Maestros</h1>
    
          
          <!--{{form.as_p}}-->
          <form action="" method="POST"      
                class="bg-white mx-7 mt-3 h-3/4 rounded-lg p-6 shadow-2xl shadow-gray-600 grid grid-cols-2 justify-items-center
                                sm:w-1/2 sm:mx-auto sm:grid-cols-1">
            {% csrf_token %} 

            {% if mensaje %}
              <div class="text-verde font-bold  text-titulo-min-xl mt-0 sm:mt-20 sm:text-titulo-xl">
                {{ mensaje }}
              </div>
            {% endif %}

            <select class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2 sm:col-span-1 sm:w-full"
                name="role_id" 
                id="role_id" >
                <option value="{{ maestro_id }}">Maestro</option>
            </select>
             
            <input class="border border-gray-300 w-11/12 px-3 py-2 mb-4 rounded-md bg-gray-100 col-span-2 sm:col-span-1 sm:w-full" 
                name="nombre"
                id="nombre"
                type="text" 
                placeholder="Nombre Completo" 
                required>
            
            <input class="border border-gray-300 w-10/12 px-3 py-2 mb-4 rounded-md bg-gray-100 sm:w-full" 
                name="matricula" 
                id="matricula" 
                type="number" 
                placeholder="Matricula" 
                required>
            
            <input class="border border-gray-300 w-10/12 px-3 py-2 mb-4 rounded-md bg-gray-100 sm:w-full"  
                name="correo" 
                id="correo" 
                type="email" 
                placeholder="Correo">
            
            <input class="border border-gray-300 w-10/12 px-3 py-2 mb-4 rounded-md bg-gray-100 sm:w-full" 
                name="password" 
                id="password" 
                type="password" 
                placeholder="Contraseña (generica)" 
                required>
            
            <input class="border border-gray-300 w-10/12 px-3 py-2 mb-4 rounded-md bg-gray-100 sm:w-full" 
                name="password_confirm" 
                id="password_confirm" 
                type="password" 
                placeholder="Confirmar contraseña (generica)">
             
                            
            <button class="bg-verde w-10/12 py-2 text-white font-bold rounded-full cursor-pointer hover:bg-green-300 mt-2">
                Registrarse
            </button>

            <a href="{% url 'maestros_list' %}"
                class="bg-verde w-10/12 py-2 text-white font-bold rounded-full cursor-pointer hover:bg-green-300 mt-2">
                    <div>Cancelar</div>
            </a>        
            <br><br>
        
          </form>
        </article>
        
      </section>
</body>
</html>