{% extends 'base.html' %}

{% block main %}
{% load static %}

    <h1
      class="text-gray-700 font-bold text-titulo-min-xl sm:mt-32 sm:text-titulo-xl text-center"
    >
      Agendar Cita de Laboratorio
    </h1>
    <form
    method="post"
      action=""
      class="bg-white mx-7 mt-2 rounded-lg p-6 sm:w-96 sm:mx-auto"
    >
    {% csrf_token %}
      
      <label for="horario">Horario Disponible</label>
      <select
        class="flex left-0 border border-gray-300 w-full px-3 py-2 rounded-md bg-gray-100"
        name="practica_id"
        id="id_practica_id"
      >
        <option value="">Selecciona el horario</option>
        {% for practica in practicas %}
        <option value="{{ practica.id }}">{{ practica.fecha_inicio|date:'h:i:s' }}</option>
        {% endfor %}
      </select>
      <button  open-modal-dialog
        class="bg-verde w-full py-2 text-white rounded-full cursor-pointer hover:bg-green-300 mt-4 sm:mt-14"
      >
        Agendar
      </button>
      
      <a class="flex justify-center" href="{% url 'sessiones:reservaciones' %}">
        <div class="text-center sm:py-32 bg-verde py-2 mt-4 w-full p-8 text-white rounded-full cursor-pointer hover:bg-green-300">
          Regresar
        </div>
      </a>

      <dialog modal>
          <div class="modal-content bg-verde p-8 shadow-lg rounded-lg">
              <h2 class="text-xl text-white font-semibold mb-4">Confrimación de reserva</h2>
              <p>Su practica a quedado agendada para el día.</p>
              <button id="closeModal" class="mt-4 bg-gray-300 hover:bg-gray-400 text-gray-700 font-semibold py-2 px-4 rounded">Cerrar</button>
          </div>
      </dialog>
      
      <script>
        const openModalButton = document.querySelector("[open-modal-dialog]");
        const closeModalButton = document.querySelector("[closeModal]");
        const modal = document.querySelector ("[modal]");

        openModalButton.addEventListener('click', () => {
            modal.showModal();
        });

        closeModalButton.addEventListener('click', () => {
            modal.close();
        });
    </script>
      
    </form>



{% endblock %}