{% extends 'base.html' %} 

{% load static %} 

{% block main %}
<div>
    <div class="flex flex-col items-center mx-2 my-10">
        <h1 class="font-bold text-xl text-gray-800">Redireccionando al laboratorio remoto...</h1>
        <div class="">
            <p class="font-medium text-gray-800">Reservacion valida: {{ reservacion.is_valid }}</p>
            <p class="font-medium text-gray-800">Fecha de la reservacion: {{ reservacion.fecha_reservacion }}</p>
            <p class="font-medium text-gray-800">Practica: {{ reservacion.practica_id.titulo }}<p>
        </div>
    </div>
</div>
{% endblock %}